/* main.css */

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    color: darkolivegreen; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.inicio {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    overflow: hidden; 
}

.init {
    display: flex;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image img {
    width: 50%; 
    height: auto;
}

.login__heading {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.login_heading {
    font-size: 1rem;
    margin-bottom: 20px;
}

.form_group {
    position: relative;
    margin-bottom: 10px;
}

.form_button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    background-color: darkolivegreen;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
}

.pie {
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}

@media screen and (max-width: 800px) {
    .inicio {
        padding: 10px;
    }

    .login__heading {
        font-size: 2rem;
    }
    .login_heading {
        font-size: 0.9rem;
    }
    .form_label {
        font-size: 0.8rem;
    }
}
